version: 2.1

orbs:
  gem: doximity/gem-publisher@0

executors:
  ruby-latest:
    resource_class: small
    docker:
      - image: cimg/ruby:2.7
        environment:
          - BUNDLE_VERSION: "~> 1.17"
          - NEO4J_URL: "http://127.0.0.1:7474"
      - image: neo4j:4.3.9-enterprise
        environment:
          NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
          NEO4J_AUTH: "none"
          NEO4J_dbms_allow__upgrade: "true"
          NEO4J_dbms_jvm_additional: "-Xms128m -Xmx512m"
          NEO4J_dbms_logs_query_enabled: "true"
          NEO4J_dbms_memory_heap_max__size: "256M"
          NEO4J_dbms_memory_pagecache_size: "256M"

# yaml anchor filters
master_only: &master_only
  filters:
    branches:
      only: master
    tags:
      ignore: /.*/
pr_only: &pr_only
  filters:
    branches:
      ignore: master
    tags:
      ignore: /.*/
version_tags_only: &version_tags_only
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v.*/

jobs:
  build:
    executor: ruby-latest
    steps:
      - checkout
      - run:
          name: Install Bundler specific version
          command: |
            gem install bundler --version "${BUNDLE_VERSION}" --force
      - restore_cache:
          keys:
            - v1-bundle-{{ checksum "Gemfile.lock" }}-
      - run:
          name: Install Ruby Dependencies
          command: bundle check --path=vendor/bundle || bundle install --local --frozen --path=vendor/bundle --jobs=4 --retry=3 && bundle clean
      - save_cache:
          key: v1-bundle-{{ checksum "Gemfile.lock" }}-
          paths:
            - vendor/bundle
      - run:
          name: Wait for neo4j
          command: |
            until `nc -z 127.0.0.1 7474`; do
            echo 'Waiting for Neo4j container...'
              sleep 1
            done
            echo 'Neo4j container is up'
      - run:
          name: Run Tests
          command: bundle exec rake ci:specs
      - store_test_results:
          name: Store test results
          path: tmp/test-results
      - run:
          name: Run StandardRB formatting
          command: bundle exec rake ci:standardrb
      - persist_to_workspace:
          root: .
          paths:
            - vendor/bundle

workflows:
  version: 2

  trunk:
    jobs:
      - build:
          <<: *master_only
      - gem/build:
          <<: *master_only
          executor: ruby-latest
          name: gem-build
          requires:
            - build

  pull-requests:
    jobs:
      - build:
          <<: *pr_only
      - gem/build:
          <<: *pr_only
          executor: ruby-latest
          name: gem-build
          requires:
            - build
      - pre-release-approval:
          <<: *pr_only
          type: approval
          requires:
            - gem-build
      - gem/publish:
          <<: *pr_only
          name: gem-publish
          to_rubygems: true
          pre_release: true
          requires:
            - pre-release-approval
          context: artifact_publishing

  final-release:
    jobs:
      - build:
          <<: *version_tags_only
      - gem/build:
          <<: *version_tags_only
          executor: ruby-latest
          name: gem-build
          requires:
            - build
      - gem/publish:
          <<: *version_tags_only
          name: gem-publish
          to_rubygems: true
          pre_release: false
          requires:
            - gem-build
          context: artifact_publishing
